# Notebook 1/2: Initial data exploration and cleaning

# Data Wrangling

## Import Libraries

In [1]:
import numpy as np
import pandas as pd

## Reading Datasets
### Daily traffic 1st & 2nd semesters of 2019

In [2]:
nb_2019s1 = pd.read_csv("datasets/2019_S1_NB_FER.txt", sep="\t")
nb_2019s2 = pd.read_csv("datasets/2019_S2_NB_FER.txt", sep="\t")

In [3]:
nb_2019s1.head()

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,01/01/2019,100,110,1,PORTE MAILLOT,71379,?,38
1,01/01/2019,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,91
2,01/01/2019,100,110,1,PORTE MAILLOT,71379,FGT,122
3,01/01/2019,100,110,1,PORTE MAILLOT,71379,IMAGINE R,531
4,01/01/2019,100,110,1,PORTE MAILLOT,71379,NAVIGO,2336

In [4]:
nb_2019s2.tail()

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
953449,31/12/2019,810,802,905,VILLEPINTE,73547,IMAGINE R,122
953450,31/12/2019,810,802,905,VILLEPINTE,73547,NAVIGO,897
953451,31/12/2019,810,802,905,VILLEPINTE,73547,NAVIGO JOUR,5
953452,31/12/2019,810,802,905,VILLEPINTE,73547,NON DEFINI,26
953453,31/12/2019,810,802,905,VILLEPINTE,73547,TST,131

In [5]:
nb_2019s1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 934851 entries, 0 to 934850
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   JOUR             934851 non-null  object
 1   CODE_STIF_TRNS   934851 non-null  int64
 2   CODE_STIF_RES    934851 non-null  object
 3   CODE_STIF_ARRET  934851 non-null  object
 4   LIBELLE_ARRET    934851 non-null  object
 5   ID_REFA_LDA      934851 non-null  int64
 6   CATEGORIE_TITRE  934851 non-null  object
 7   NB_VALD          934851 non-null  int64
dtypes: int64(3), object(5)
memory usage: 57.1+ MB

In [6]:
nb_2019s2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953454 entries, 0 to 953453
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   JOUR             953454 non-null  object
 1   CODE_STIF_TRNS   953454 non-null  int64
 2   CODE_STIF_RES    953454 non-null  object
 3   CODE_STIF_ARRET  953454 non-null  object
 4   LIBELLE_ARRET    953454 non-null  object
 5   ID_REFA_LDA      953454 non-null  int64
 6   CATEGORIE_TITRE  953454 non-null  object
 7   NB_VALD          953454 non-null  int64
dtypes: int64(3), object(5)
memory usage: 58.2+ MB

In [7]:
nb_2019s1.nunique()

JOUR                 181
CODE_STIF_TRNS         3
CODE_STIF_RES         13
CODE_STIF_ARRET      747
LIBELLE_ARRET        723
ID_REFA_LDA          718
CATEGORIE_TITRE        9
NB_VALD            19686
dtype: int64

In [8]:
nb_2019s2.nunique()

JOUR                 184
CODE_STIF_TRNS         3
CODE_STIF_RES         13
CODE_STIF_ARRET      747
LIBELLE_ARRET        724
ID_REFA_LDA          719
CATEGORIE_TITRE        9
NB_VALD            18630
dtype: int64

In [9]:
nb_2019s1['CODE_STIF_RES'].unique()

array(['110', 'ND ', '800', '803', '804', '805', '850', '851', '852',
       '853', '854', '801', '802'], dtype=object)

In [10]:
nb_2019s2['CODE_STIF_RES'].unique()

array(['110', 'ND ', '800', '803', '804', '805', '850', '851', '852',
       '853', '854', '801', '802'], dtype=object)

In [11]:
nb_2019s1['CATEGORIE_TITRE'].unique()

array(['?', 'AMETHYSTE', 'FGT', 'IMAGINE R', 'NAVIGO', 'NAVIGO JOUR',
       'NON DEFINI', 'TST', 'AUTRE TITRE'], dtype=object)

In [12]:
nb_2019s2['CATEGORIE_TITRE'].unique()

array(['?', 'AMETHYSTE', 'AUTRE TITRE', 'FGT', 'IMAGINE R', 'NAVIGO',
       'NAVIGO JOUR', 'NON DEFINI', 'TST'], dtype=object)

### Daily traffic 1st & 2nd semesters 2020

In [13]:
nb_2020s1 = pd.read_csv("datasets/2020_S1_NB_FER.txt", sep="\t")
nb_2020s2 = pd.read_csv("datasets/2020_S2_NB_FER.txt", sep="\t")

In [14]:
nb_2020s1.head()

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,01/01/2020,100,110,1,PORTE MAILLOT,71379,?,28
1,01/01/2020,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,83
2,01/01/2020,100,110,1,PORTE MAILLOT,71379,AUTRE TITRE,94
3,01/01/2020,100,110,1,PORTE MAILLOT,71379,FGT,84
4,01/01/2020,100,110,1,PORTE MAILLOT,71379,IMAGINE R,522

In [15]:
nb_2020s2.tail()

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
1054007,31/12/2020,810,802,905,VILLEPINTE,73547,FGT,56
1054008,31/12/2020,810,802,905,VILLEPINTE,73547,IMAGINE R,55
1054009,31/12/2020,810,802,905,VILLEPINTE,73547,NAVIGO,331
1054010,31/12/2020,810,802,905,VILLEPINTE,73547,NON DEFINI,17
1054011,31/12/2020,810,802,905,VILLEPINTE,73547,TST,84

In [16]:
nb_2020s1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887493 entries, 0 to 887492
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   JOUR             887493 non-null  object
 1   CODE_STIF_TRNS   887493 non-null  int64
 2   CODE_STIF_RES    887493 non-null  object
 3   CODE_STIF_ARRET  887493 non-null  object
 4   LIBELLE_ARRET    887493 non-null  object
 5   ID_REFA_LDA      887493 non-null  int64
 6   CATEGORIE_TITRE  887493 non-null  object
 7   NB_VALD          887493 non-null  int64
dtypes: int64(3), object(5)
memory usage: 54.2+ MB

In [17]:
nb_2020s2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1054012 entries, 0 to 1054011
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   JOUR             1054012 non-null  object
 1   CODE_STIF_TRNS   1054012 non-null  int64
 2   CODE_STIF_RES    1054012 non-null  object
 3   CODE_STIF_ARRET  1054012 non-null  object
 4   LIBELLE_ARRET    1054012 non-null  object
 5   ID_REFA_LDA      1054012 non-null  int64
 6   CATEGORIE_TITRE  1054012 non-null  object
 7   NB_VALD          1054012 non-null  int64
dtypes: int64(3), object(5)
memory usage: 64.3+ MB

In [18]:
nb_2020s1.nunique()

JOUR                 182
CODE_STIF_TRNS         3
CODE_STIF_RES         13
CODE_STIF_ARRET      738
LIBELLE_ARRET        715
ID_REFA_LDA          710
CATEGORIE_TITRE        9
NB_VALD            13498
dtype: int64

In [19]:
nb_2020s2.nunique()

JOUR                 184
CODE_STIF_TRNS         3
CODE_STIF_RES         13
CODE_STIF_ARRET      745
LIBELLE_ARRET        722
ID_REFA_LDA          714
CATEGORIE_TITRE        9
NB_VALD            12594
dtype: int64

In [20]:
nb_2020s1['CODE_STIF_RES'].unique()

array(['110', 'ND ', '800', '803', '804', '805', '850', '851', '852',
       '853', '854', '801', '802'], dtype=object)

In [21]:
nb_2020s2['CODE_STIF_RES'].unique()

array(['110', 'ND ', '800', '803', '804', '805', '850', '851', '852',
       '853', '854', '801', '802'], dtype=object)

In [22]:
nb_2020s1['CATEGORIE_TITRE'].unique()

array(['?', 'AMETHYSTE', 'AUTRE TITRE', 'FGT', 'IMAGINE R', 'NAVIGO',
       'NAVIGO JOUR', 'NON DEFINI', 'TST'], dtype=object)

In [23]:
nb_2020s2['CATEGORIE_TITRE'].unique()

array(['?', 'AMETHYSTE', 'AUTRE TITRE', 'FGT', 'IMAGINE R', 'NAVIGO',
       'NAVIGO JOUR', 'NON DEFINI', 'TST'], dtype=object)

### Daily traffic 1st & 2nd semesters 2021

In [24]:
nb_2021s1 = pd.read_csv("datasets/2021_S1_NB_FER.txt", sep="\t")
nb_2021s2 = pd.read_csv("datasets/2021_S2_NB_FER.txt", sep="\t")

In [25]:
nb_2021s1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1064019 entries, 0 to 1064018
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   JOUR             1064019 non-null  object
 1   CODE_STIF_TRNS   1064019 non-null  int64
 2   CODE_STIF_RES    1064019 non-null  object
 3   CODE_STIF_ARRET  1064019 non-null  object
 4   LIBELLE_ARRET    1064019 non-null  object
 5   ID_REFA_LDA      1064019 non-null  int64
 6   CATEGORIE_TITRE  1064019 non-null  object
 7   NB_VALD          1064019 non-null  int64
dtypes: int64(3), object(5)
memory usage: 64.9+ MB

In [26]:
nb_2021s2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1084281 entries, 0 to 1084280
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   JOUR             1084281 non-null  object
 1   CODE_STIF_TRNS   1084281 non-null  int64
 2   CODE_STIF_RES    1084281 non-null  object
 3   CODE_STIF_ARRET  1084281 non-null  object
 4   LIBELLE_ARRET    1084281 non-null  object
 5   ID_REFA_LDA      1084281 non-null  int64
 6   CATEGORIE_TITRE  1084281 non-null  object
 7   NB_VALD          1084281 non-null  int64
dtypes: int64(3), object(5)
memory usage: 66.2+ MB

In [27]:
nb_2021s1.nunique()

JOUR                 181
CODE_STIF_TRNS         3
CODE_STIF_RES         13
CODE_STIF_ARRET      745
LIBELLE_ARRET        724
ID_REFA_LDA          714
CATEGORIE_TITRE        9
NB_VALD            11660
dtype: int64

In [28]:
nb_2021s2.nunique()

JOUR                 184
CODE_STIF_TRNS         3
CODE_STIF_RES         13
CODE_STIF_ARRET      748
LIBELLE_ARRET        726
ID_REFA_LDA          717
CATEGORIE_TITRE        9
NB_VALD            14887
dtype: int64

In [29]:
nb_2021s1['CODE_STIF_RES'].unique()

array(['110', 'ND ', '800', '803', '804', '805', '850', '851', '852',
       '853', '854', '801', '802'], dtype=object)

In [30]:
nb_2021s2['CODE_STIF_RES'].unique()

array(['110', 'ND ', '800', '803', '804', '805', '850', '851', '852',
       '853', '854', '801', '802'], dtype=object)

In [31]:
nb_2021s1['CATEGORIE_TITRE'].unique()

array(['?', 'AMETHYSTE', 'AUTRE TITRE', 'FGT', 'IMAGINE R', 'NAVIGO',
       'NAVIGO JOUR', 'NON DEFINI', 'TST'], dtype=object)

In [32]:
nb_2021s2['CATEGORIE_TITRE'].unique()

array(['?', 'AMETHYSTE', 'AUTRE TITRE', 'FGT', 'IMAGINE R', 'NAVIGO',
       'NAVIGO JOUR', 'NON DEFINI', 'TST'], dtype=object)

### Daily traffic 1st semester 2022

In [33]:
nb_2022s1 = pd.read_csv("datasets/2022_S1_NB_FER.csv", sep=";")

In [34]:
nb_2022s1.head()

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2022-06-01,800,854,903,VILLENNES-SUR-SEINE,64949,NAVIGO,485
1,2022-06-01,800,854,92,BONNIERES,66741,?,5
2,2022-06-01,800,854,92,BONNIERES,66741,AMETHYSTE,8
3,2022-06-01,800,854,92,BONNIERES,66741,FGT,9
4,2022-06-01,800,854,92,BONNIERES,66741,NAVIGO,415

In [35]:
nb_2022s1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1088334 entries, 0 to 1088333
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   JOUR             1088334 non-null  object
 1   CODE_STIF_TRNS   1088334 non-null  int64
 2   CODE_STIF_RES    1088334 non-null  object
 3   CODE_STIF_ARRET  1088334 non-null  object
 4   LIBELLE_ARRET    1088334 non-null  object
 5   ID_REFA_LDA      1088334 non-null  int64
 6   CATEGORIE_TITRE  1088334 non-null  object
 7   NB_VALD          1088334 non-null  int64
dtypes: int64(3), object(5)
memory usage: 66.4+ MB

In [36]:
nb_2022s1.nunique()

JOUR                 181
CODE_STIF_TRNS         3
CODE_STIF_RES         13
CODE_STIF_ARRET      751
LIBELLE_ARRET        729
ID_REFA_LDA          718
CATEGORIE_TITRE        9
NB_VALD            15587
dtype: int64

In [37]:
nb_2022s1['CODE_STIF_RES'].unique()

array(['854', '801', '802', '110', '800', '803', '804', '805', '850',
       '851', '852', '853', 'ND'], dtype=object)

In [38]:
nb_2022s1['CATEGORIE_TITRE'].unique()

array(['NAVIGO', '?', 'AMETHYSTE', 'FGT', 'NON DEFINI', 'IMAGINE R',
       'NAVIGO JOUR', 'TST', 'AUTRE TITRE'], dtype=object)

## Observations:
AS we can see from above the dataframes for all semesters have 8 columns:

* JOUR: Day of the year. The dtype is object instead of datetime.
* CODE_STIF_TRNS: Code allocated by the STIF to identify the carrier
* CODE_STIF_RES: Code allocated by the STIF to identify the network. Some missing values are designated by "ND"
* CODE_STIF_ARRET: Code allocated by the STIF to identify the stop.
* LIBELLE_ARRET: Name of the stop station. It has less unique values than CODE_STIF_ARRET, suggesting that one stop name can have several CODE_STIF_ARRET attached to it.
* ID_REFA_LDA: Identification code refers to the place where different vehicles can stop. (it be used to establish links between the validation data and the other Ile-de-France Mobilités data).
* CATEGORIE_TITRE: Ticket type used to check in. Some missing values are designated by '?'
* NB_VALD (Number of checkins): Only the number of people entering from the road on the various rail networks are counted.
    

All dataframes contains same columns names.

The total number of days are 365 in 2019 and 366 in each of 2020 and 2021. But for all dataframes, the dtype of this column is object instead of datetime.

All dataframes have similar dtypes.

The columns CODE_STIF_ARRET, LIBELLE_ARRET and ID_REFA_LDA have different  number of unique values in each dataframe.

The CODE_STIF_RES column has values designated by 'ND' in all dataframes.

We see that some missing values are designated by a question mark in the CATEGORY_TITRE column.

## Join dataframes
**Join dataframes of each year in one dataframe ex. nb_2019s1 & nb_2019s2 -> nb-2019**

In [39]:
# Ckeck if all days date are different s1 and s2 dataframes by merging them with an inner join on the JOUR column

compare = pd.merge(left = nb_2019s1, right = nb_2019s2, how = 'inner', on = 'JOUR')
print(compare.shape)

compare = pd.merge(left = nb_2020s1, right = nb_2020s2, how = 'inner', on = 'JOUR')
print(compare.shape)

compare = pd.merge(left = nb_2021s1, right = nb_2021s2, how = 'inner', on = 'JOUR')
print(compare.shape)

(0, 15)
(0, 15)
(0, 15)

The resulting dataframes have all 0 lines, meaning that there are no common values in the JOUR columns of the s1 and s2 dataframes.

In [40]:
# Make sure that column names are the same in 1st & 2nd semester of 2019, 2020, & 2021

print(nb_2019s1.columns == nb_2019s2.columns)
print(nb_2020s1.columns == nb_2020s2.columns)
print(nb_2021s1.columns == nb_2021s2.columns)

[ True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True]

In [41]:
# Concatenate s1 and s2 into a new dataframe

nb_2019 = pd.concat([nb_2019s1, nb_2019s2], axis=0)
nb_2020 = pd.concat([nb_2020s1, nb_2020s2], axis=0)
nb_2021 = pd.concat([nb_2021s1, nb_2021s2], axis=0)
nb_2022 = nb_2022s1

## Cleaning Data
nb_20XX provide the number of validation per day, per station and per ticket type.

The following opertions will be applied to the dataframes:

Handle misdesignated missing values ('ND', '?')

Cast datatype for the CODE_STIF_RES and CODE_STIF_ARRET columns of all dataframes to numeric

Convert the JOUR column to datetime in all dataframes

In [42]:
# Identify non numeric values in the following columns: 'CODE_STIF_RES' and 'CODE_STIF_ARRET'

print('The non numeric values in the columns CODE_STIF_RES and CODE_STIF_ARRET for 2019')
print(nb_2019.loc[~nb_2019['CODE_STIF_RES'].astype(str).str.isnumeric(),'CODE_STIF_RES'].unique())
print(nb_2019.loc[~nb_2019['CODE_STIF_ARRET'].astype(str).str.isnumeric(),'CODE_STIF_ARRET'].unique())

print('The non numeric values in the columns CODE_STIF_RES and CODE_STIF_ARRET for 2020')
print(nb_2020.loc[~nb_2020['CODE_STIF_RES'].astype(str).str.isnumeric(),'CODE_STIF_RES'].unique())
print(nb_2020.loc[~nb_2020['CODE_STIF_ARRET'].astype(str).str.isnumeric(),'CODE_STIF_ARRET'].unique())

print('The non numeric values in the columns CODE_STIF_RES and CODE_STIF_ARRET for 2021')
print(nb_2021.loc[~nb_2021['CODE_STIF_RES'].astype(str).str.isnumeric(),'CODE_STIF_RES'].unique())
print(nb_2021.loc[~nb_2021['CODE_STIF_ARRET'].astype(str).str.isnumeric(),'CODE_STIF_ARRET'].unique())

print('The non numeric values in the columns CODE_STIF_RES and CODE_STIF_ARRET for 2022')
print(nb_2022.loc[~nb_2022['CODE_STIF_RES'].astype(str).str.isnumeric(),'CODE_STIF_RES'].unique())
print(nb_2022.loc[~nb_2022['CODE_STIF_ARRET'].astype(str).str.isnumeric(),'CODE_STIF_ARRET'].unique())

The non numeric values in the columns CODE_STIF_RES and CODE_STIF_ARRET for 2019
['ND ']
['ND']
The non numeric values in the columns CODE_STIF_RES and CODE_STIF_ARRET for 2020
['ND ']
['ND']
The non numeric values in the columns CODE_STIF_RES and CODE_STIF_ARRET for 2021
['ND ']
['ND']
The non numeric values in the columns CODE_STIF_RES and CODE_STIF_ARRET for 2022
['ND']
['ND']

In [43]:
# Casting CODE_STIF_RES & CODE_STIF_ARRET and replacing non-numeric values by np.nan using keyword argument in the pd.to_numeric() function.

nb_2019['CODE_STIF_RES'] = pd.to_numeric(nb_2019['CODE_STIF_RES'], errors = 'coerce', downcast='integer')
nb_2019['CODE_STIF_ARRET'] = pd.to_numeric(nb_2019['CODE_STIF_ARRET'], errors = 'coerce', downcast='integer')

nb_2020['CODE_STIF_RES'] = pd.to_numeric(nb_2020['CODE_STIF_RES'], errors = 'coerce', downcast='integer')
nb_2020['CODE_STIF_ARRET'] = pd.to_numeric(nb_2020['CODE_STIF_ARRET'], errors = 'coerce', downcast='integer')

nb_2021['CODE_STIF_RES'] = pd.to_numeric(nb_2021['CODE_STIF_RES'], errors = 'coerce', downcast='integer')
nb_2021['CODE_STIF_ARRET'] = pd.to_numeric(nb_2021['CODE_STIF_ARRET'], errors = 'coerce', downcast='integer')

nb_2022['CODE_STIF_RES'] = pd.to_numeric(nb_2022['CODE_STIF_RES'], errors = 'coerce', downcast='integer')
nb_2022['CODE_STIF_ARRET'] = pd.to_numeric(nb_2022['CODE_STIF_ARRET'], errors = 'coerce', downcast='integer')

In [44]:
nb_2019['CODE_STIF_RES'].unique()

array([110.,  nan, 800., 803., 804., 805., 850., 851., 852., 853., 854.,
       801., 802.])

In [45]:
nb_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1888305 entries, 0 to 953453
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   JOUR             object
 1   CODE_STIF_TRNS   int64
 2   CODE_STIF_RES    float64
 3   CODE_STIF_ARRET  float64
 4   LIBELLE_ARRET    object
 5   ID_REFA_LDA      int64
 6   CATEGORIE_TITRE  object
 7   NB_VALD          int64
dtypes: float64(2), int64(3), object(3)
memory usage: 129.7+ MB

In [46]:
nb_2019.isnull().sum()

JOUR                  0
CODE_STIF_TRNS        0
CODE_STIF_RES      3003
CODE_STIF_ARRET    3003
LIBELLE_ARRET         0
ID_REFA_LDA           0
CATEGORIE_TITRE       0
NB_VALD               0
dtype: int64

In [47]:
nb_2020.isnull().sum()

JOUR                  0
CODE_STIF_TRNS        0
CODE_STIF_RES      2906
CODE_STIF_ARRET    2906
LIBELLE_ARRET         0
ID_REFA_LDA           0
CATEGORIE_TITRE       0
NB_VALD               0
dtype: int64

In [48]:
nb_2021.isnull().sum()

JOUR                  0
CODE_STIF_TRNS        0
CODE_STIF_RES      1727
CODE_STIF_ARRET    1727
LIBELLE_ARRET         0
ID_REFA_LDA           0
CATEGORIE_TITRE       0
NB_VALD               0
dtype: int64

In [49]:
nb_2022.isnull().sum()

JOUR                 0
CODE_STIF_TRNS       0
CODE_STIF_RES      802
CODE_STIF_ARRET    802
LIBELLE_ARRET        0
ID_REFA_LDA          0
CATEGORIE_TITRE      0
NB_VALD              0
dtype: int64

In [50]:
nb_2019.loc[nb_2019['CODE_STIF_RES'].isnull(), 'LIBELLE_ARRET'].unique()
nb_2019.loc[nb_2019['LIBELLE_ARRET'] == 'Inconnu'].head()

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
2066,01/01/2019,100,NaN,NaN,Inconnu,0,?,169
2067,01/01/2019,100,NaN,NaN,Inconnu,0,AMETHYSTE,173
2068,01/01/2019,100,NaN,NaN,Inconnu,0,FGT,215
2069,01/01/2019,100,NaN,NaN,Inconnu,0,IMAGINE R,487
2070,01/01/2019,100,NaN,NaN,Inconnu,0,NAVIGO,3264

In [51]:
nb_2022.loc[(nb_2022['JOUR'] == '2022-01-01')&(nb_2022['LIBELLE_ARRET']=='LA DEFENSE-GRANDE ARCHE')]

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
69484,2022-01-01,800,854.0,394.0,LA DEFENSE-GRANDE ARCHE,71517,AMETHYSTE,81
69742,2022-01-01,810,801.0,393.0,LA DEFENSE-GRANDE ARCHE,71517,FGT,287
69745,2022-01-01,810,801.0,393.0,LA DEFENSE-GRANDE ARCHE,71517,IMAGINE R,1533
95410,2022-01-01,800,854.0,394.0,LA DEFENSE-GRANDE ARCHE,71517,NAVIGO,2465
95412,2022-01-01,800,854.0,394.0,LA DEFENSE-GRANDE ARCHE,71517,NON DEFINI,184
95580,2022-01-01,810,801.0,393.0,LA DEFENSE-GRANDE ARCHE,71517,AUTRE TITRE,286
277773,2022-01-01,800,854.0,394.0,LA DEFENSE-GRANDE ARCHE,71517,IMAGINE R,1047
278034,2022-01-01,810,801.0,393.0,LA DEFENSE-GRANDE ARCHE,71517,NON DEFINI,808
404750,2022-01-01,800,854.0,394.0,LA DEFENSE-GRANDE ARCHE,71517,FGT,176
404753,2022-01-01,800,854.0,394.0,LA DEFENSE-GRANDE ARCHE,71517,NAVIGO JOUR,20
404756,2022-01-01,800,854.0,394.0,LA DEFENSE-GRANDE ARCHE,71517,TST,345
404999,2022-01-01,810,801.0,393.0,LA DEFENSE-GRANDE ARCHE,71517,AMETHYSTE,169
405002,2022-01-01,810,801.0,393.0,LA DEFENSE-GRANDE ARCHE,71517,NAVIGO,4141
917209,2022-01-01,800,854.0,394.0,LA DEFENSE-GRANDE ARCHE,71517,?,74
917405,2022-01-01,810,801.0,393.0,LA DEFENSE-GRANDE ARCHE,71517,?,56
917407,2022-01-01,810,801.0,393.0,LA DEFENSE-GRANDE ARCHE,71517,NAVIGO JOUR,31
917409,2022-01-01,810,801.0,393.0,LA DEFENSE-GRANDE ARCHE,71517,TST,624

Looking at the dataframe above, we see that for 1 ID_REFA_LDA, there are multiple CODE_STIF_ARRET. The CODE_STIF_ARRET is different for each CODE_STIF_RES (network category) within a station.

### Drop columns

In [52]:
# List of columns to drop
col_todrop = ['CODE_STIF_TRNS', 'CODE_STIF_RES', 'CODE_STIF_ARRET']

# Drop columns
nb_2019.drop(['CODE_STIF_TRNS','CODE_STIF_RES','CODE_STIF_ARRET'], axis=1, inplace=True)
nb_2020.drop(['CODE_STIF_TRNS','CODE_STIF_RES','CODE_STIF_ARRET'], axis=1, inplace=True)
nb_2021.drop(['CODE_STIF_TRNS','CODE_STIF_RES','CODE_STIF_ARRET'], axis=1, inplace=True)
nb_2022.drop(['CODE_STIF_TRNS','CODE_STIF_RES','CODE_STIF_ARRET'], axis=1, inplace=True)

## Export to .csv

In [53]:
nb_2019.to_csv('datasets/nb_2019.csv', index=None)
nb_2020.to_csv('datasets/nb_2020.csv', index=None)
nb_2021.to_csv('datasets/nb_2021.csv', index=None)
nb_2022.to_csv('datasets/nb_2022.csv', index=None)